.header,
.education {
  max-width: 70%;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid #000000;
}

.header__nav {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__link {
  color: var(--color-primary);
  font-family: var(--text-primary);
  text-decoration: none;
  padding: 3vh 0;
  font-size: 0.9em;
  color: red;
  animation-name: example;
  animation-duration: 7s;
  animation-iteration-count: 3;
}

.header__link:hover {
  text-decoration: underline;
  background-color: rgb(12, 67, 77);
  color: white;
}

.hamburger__icon {
  display: none;
}

.about-media {
  max-width: 70%;
  margin: 0 auto;
}
.about-media__container {
  text-align: center;
}

.about-media__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12vh 0;
}

.about-media__img {
  width: 20%;
  padding: 0 1vw;
}

.about-carousel {
  position: relative;
  margin: 10vh auto;
  display: block;
  height: 700px;
  width: 550px;
}

.about-carousel__item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow_prev {
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow_next {
  right: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id*="__item"] {
  display: none;
}

.about-carousel__item_1 {
  z-index: 2;
  opacity: 1;
  background: url("../img/1.jpg");
  background-size: cover;
}

.about-carousel__item_2 {
  background: url("../img/2.jpg");
  background-size: cover;
}

.about-carousel__item_3 {
  background: url("../img/3.jpg");
  background-size: cover;
}

.about-carousel__item_4 {
  background: url("../img/4.jpg");
  background-size: cover;
}

.about-carousel__item_5 {
  background: url("../img/5.jpg");
  background-size: cover;
}
*:target ~ .about-carousel__item_1 {
  opacity: 0;
}

#about-carousel__item_1:target ~ .about-carousel__item_1 {
  opacity: 1;
}

#about-carousel__item_2:target ~ .about-carousel__item_2,
#about-carousel__item_3:target ~ .about-carousel__item_3,
#about-carousel__item_4:target ~ .about-carousel__item_4,
#about-carousel__item_5:target ~ .about-carousel__item_5 {
  z-index: 3;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .header {
    border: none;
  }

  .header__container {
    display: none;
  }
  .photo__inform {
    text-align: center;
  }
  .hamburger__icon {
    display: block;
  }

  .hamburger__icon {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    margin-left: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .hamburger__icon a {
    text-decoration: none;
    color: #323232;
    transition: color 0.3s ease;
  }

  .hamburger__icon a:hover {
    color: #505050;
  }

  .hamburger__icon input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  .hamburger__icon span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #57463a;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  .hamburger__icon span:first-child {
    transform-origin: 0% 0%;
  }

  .hamburger__icon span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .hamburger__icon input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  .hamburger__icon input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .hamburger__icon input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  .hamburger__menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #f3efea;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .hamburger__menu a {
    font-size: 2em;
  }

  .hamburger__icon input:checked ~ .hamburger__menu {
    transform: none;
  }

  .hamburger__link {
    margin: 5vh 0;
  }
  .hamburger__link:hover {
    text-decoration: underline;
  }

  .about-carousel {
    position: relative;
    margin: 10vh auto;
    display: block;
    height: 50vh;
    width: 60%;
  }
}
